* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* difference btw vw, px, %, em, rem:

vw: viewport width
px: pixels
%: percentage
em: font size of the element
rem: font size of the root element
*/
body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
}
/*
assiging body to display flex and centering the content horizontally and vertically using justify-content

*/

.game-container {
    width: min(95vw, 500px);
}

/*
 game-board is a grid with 20 columns and 20 rows, each cell is 1 fraction of the available space.
 The aspect-ratio property is set to 1, which means the width and height of the game-board will be equal,
 creating a square shape.
*/
#game-board {
    width: 100%;
    aspect-ratio: 1;

    display: grid;

    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);

    border: 3px solid #222;
}

.cell {
    border: 1px solid #ddd;
}

.snake {
    background: green;
}

.head {
    background: darkgreen;
}